
    <div class="form-group">
        <select class="form-control" onchange="CityDropProfile()"  id="selectedCityProfile">

            <option value="0">@Resource.Lang.Select</option>
            <!--ko foreach: viewModel.City.CityList() -->
            <option data-bind="value:Id , text:Name"></option>
            <!--/ko-->
        </select>
    </div>