
@{
    ViewBag.Title = "Sent";
    Layout = "~/Areas/Profile/Views/Shared/Layout.cshtml";
}

<div class="m-t-40 card-box">
    <div class="text-center">
        <h4 class="text-uppercase font-bold m-b-0">ارسال موفقیت آمیز</h4>
    </div>
    <div class="panel-body text-center">
        <img src="/assets/images/mail_confirm.png" alt="img" class="thumb-lg m-t-20 center-block" />
        <p class="text-muted font-13 m-t-20"> لینک بازیابی برای آدرس ایمیل شما با موفقیت ارسال شد.<br /> ممکن است ایمیل مورد نظر در پوشه spam شما باشد</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 text-center">
        <p class="text-muted">بازگشت به <a href="/profile/login" class="text-primary m-l-5"><b>ورود به سیستم</b></a></p>
    </div>
</div>


