body {
    direction: ltr;
    text-align: left;
}

h1, h2, h3, h4, h5, h6, body {
    font-family: Calibri;
}

.table.dataTable thead > tr > th {
    text-align: left;
}

.side-menu {
    left: 0;
}

.topbar .topbar-left {
    float: left;
}

.content-page {
    margin-right: 0;
    margin-left: 250px;
}

.pull-left, .navbar-left {
    float: left !important;
}

.pull-right, .navbar-right {
    float: right !important;
}

.app-search .form-control, .app-search .form-control:focus {
    margin-right: 0;
    margin-left: 20px;
}

.app-search a {
    left: 40px;
}

#sidebar-menu {
    text-align: left;
}

    #sidebar-menu > ul > li > a {
        text-align: left;
    }

    #sidebar-menu ul li a i {
        float: left;
        margin-left: 3px;
        margin-right: 15px;
    }

    #sidebar-menu ul li .menu-arrow {
        left: unset;
        right: 20px;
    }

.circle-icon {
    float: right;
}

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    text-align: left;
}

#sidebar-menu ul ul a {
    padding: 10px 20px 10px 65px;
}

.no-padding-left {
    padding-right: 0;
    padding-left: 15px;
}

.form-control {
    direction: ltr;
}

.footer {
    left: 0;
    right: 0;
    text-align: right !important;
}

@media (min-width: 768px) {
    .navbar-nav > li {
        float: left;
    }

    .form-horizontal .control-label {
        text-align: left;
    }
}