@font-face {
    font-family: 'Iran-Sans';
    src: url('../fonts/iran-sans.woff'), url('../fonts/iran-sans.eot'), url('../fonts/iran-sans.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Iran-Sans', Calibri;
}

.english-only {
    font-family: Calibri;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Iran-Sans';
    font-weight: bold;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.margin-right-10 {
    margin-right: 10px;
}

.tooltip, .nav-tabs.nav-justified > li > a {
    font-family: Calibri, 'Iran-Sans'
}

.clear {
    clear: both
}

.fit-width {
    width: 100%;
}

.ltr {
    direction: ltr !important;
    text-align: left !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.display-none {
    display: none;
}

.font-english {
    font-family: Calibri;
}

.required  {
    color:red;
    font-weight:bold;
}

.form-control {
    direction: rtl;
    text-align: right;
}

    .form-control.text-center {
        text-align: center;
    }

    .form-control.ltr {
        direction: ltr;
    }

.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    text-align: right;
}

.right-box {
    direction: rtl;
}

#datatable-buttons_filter input {
    margin-right: 10px;
}

#datatable-buttons_filter {
    text-align: right;
    padding-top: 5px;
}

.btn.btn-danger a, .btn.btn-primary a, .btn.btn-inverse a, .btn.btn-success a {
    color: white;
}

.checkbox input[type="checkbox"] {
    opacity: 1;
}

.dl-horizontal dd {
    line-height: 30px;
}

.no-margin-left-right {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.ltr-direction {
    direction: ltr;
}

.alert-danger {
    padding-top: 9px;
    padding-bottom: 11px;
    margin-right: 3px;
    font-weight: bold;
}

.no-padding {
    padding: 0px !important;
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-right {
    padding-right: 0;
}

.pointer {
    cursor: pointer;
}

.devider-10 {
    clear: both;
    height: 10px;
}

.devider-15 {
    clear: both;
    height: 15px;
}

.devider-30 {
    clear: both;
    height: 30px;
}

.dropdown.pull-right {
    padding-top: 1px;
}

.circle-icon {
    height: 32px;
    width: 32px;
    margin-bottom: 15px;
    margin-right: 5px;
}

    .circle-icon .zmdi-more-vert {
        padding-top: 4px;
    }

button.circle-icon {
    background-color: white;
    font-size: 15px !important;
}

.margin-checkbox {
    margin-top: 10px !important;
}

.dropify-wrapper {
    border-width: 1px !important;
    border-radius: 5px;
}

.table.dataTable thead > tr > th {
    padding-left: 8px;
    cursor: pointer;
}

.table.has-first tr td:first-child, .table.has-first tr th:first-child {
    width: 30px !important;
    text-align: center !important;
}

.dl-horizontal dt {
    line-height: 30px;
}

/* ENABLE TABLE SEARCH */
.dataTables_filter {
    display: none;
}

.btn-group, .btn-group-vertical {
    display: none;
}
/* END ENABLE TABLE SEARCH */

img.form-image {
    border: 1px solid #E3E3E3;
    padding: 5px;
    border-radius: 4px;
}

    img.form-image.in-table {
        max-width: 200px;
    }

[show-part] {
    display: none;
}

#main .message-list li .col-2 {
    left: 250px;
}

    #main .message-list li .col-2 .date {
        width: 150px;
        padding-right: 0;
        text-align: right;
    }

    #main .message-list li .col-2 .subject {
        right: 150px;
    }

#main .message-list li .col-1 {
    width: 250px;
}

#main .message-list li a {
    color: black;
}

#main .message-list li input[type=checkbox] {
    position: absolute;
    top: 15px;
    right: 10px;
}

#main .message-list li[is-unread] * {
    font-weight: bold;
    color: black;
    font-size: 16px;
}

#message {
    position: unset;
    top: unset;
    left: unset;
    bottom: unset;
    width: 100%;
    transform: unset;
    z-index: unset;
    background: none;
    box-shadow: none;
    padding: 0;
    transition-duration: unset;
}

    #message #message-nano-wrapper .nano-content {
        margin-top: 30px;
    }

.codeprocess-logo {
    width: 100px;
    box-shadow: 0 0 5px black;
    border-radius: 50% 50%;
    margin-bottom: 15px;
}

.codeprocess-back {
    background-image: url(../images/codeprocess-back.png);
    margin-bottom: 20px;
    padding: 15px;
}

    .codeprocess-back h4 {
        color: white;
    }

.calendar-container {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 5px #eee;
    border: 1px solid #eee;
}

.calendar-cell {
    width: 14.28%;
    float: right;
    padding: 0 2px;
    color: black;
}

.calendar-content {
    color: black;
    position: relative;
    display: inline-block;
    width: 100%;
    border-radius: 5px;
    padding: 19px 2px 2px 2px;
    overflow: hidden;
    font-weight: bold;
    height: 60px;
    text-align: center;
}

    .calendar-content[is-past='True'] {
        background-color: #eee;
        color: #797979;
    }

    .calendar-content[is-closed='True'] {
        background-color: #99E099;
    }

    .calendar-content[is-today='True'] {
        background-color: #68def1;
    }

    .calendar-content:hover {
        background-color: #eee;
        cursor: pointer;
    }

.calendar-link {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.calendar-event {
    width: 100%;
    display: inline-block;
    background-color: #555555;
    font-size: 12px;
    color: white;
    padding: 1px 3px;
    border-radius: 2px;
}

    .calendar-event:hover {
        color: white;
    }

    .calendar-event[type='EVENT_TYPE_REMINDER'] {
        background-color: red;
    }

    .calendar-event[type='EVENT_TYPE_MEETING'] {
        background-color: #097080;
    }

.calendar-day {
    position: absolute;
    top: 2px;
    right: 5px;
}

.calendar-weekday {
    color: black;
    width: 14.28%;
    float: right;
    text-align: center;
    padding: 0 2px;
}

    .calendar-weekday .calendar-content {
        padding-top: 7px;
        font-weight: bold;
        background-color: #555555;
        color: white;
        height: 40px;
        cursor: default;
    }

.color-check-item {
    float: right;
    margin-left: 20px;
}

    .color-check-item input {
        margin-left: 5px;
    }

    .color-check-item label {
        display: inline-block;
        margin-bottom: -8px;
        width: 30px;
        height: 30px;
        border-radius: 5px;
    }

legend {
    font-weight: bold;
}

.spinner {
    margin: 100px auto;
    width: 50px;
    height: 40px;
    text-align: center;
    font-size: 10px;
}

    .spinner > div {
        background-color: #333;
        height: 100%;
        width: 6px;
        display: inline-block;
        -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
        animation: sk-stretchdelay 1.2s infinite ease-in-out;
    }

    .spinner .rect2 {
        -webkit-animation-delay: -1.1s;
        animation-delay: -1.1s;
    }

    .spinner .rect3 {
        -webkit-animation-delay: -1.0s;
        animation-delay: -1.0s;
    }

    .spinner .rect4 {
        -webkit-animation-delay: -0.9s;
        animation-delay: -0.9s;
    }

    .spinner .rect5 {
        -webkit-animation-delay: -0.8s;
        animation-delay: -0.8s;
    }

.ltr-fieldset {
    direction: ltr;
}

    .ltr-fieldset .form-group > [class*='col-'] {
        float: left !important;
    }

    .ltr-fieldset .form-control {
        direction:ltr;
        text-align:left;
    }

.social-content {
    padding:10px;
}

.custom-checkbox {
    margin:10px 10px 0 0;
}

.home-shop-image  {
    width:80px;
    height:80px;
    border:2px solid gray;
    padding:2px;
    border-radius:50% 50%;
}

.home-shop-icon  {
    font-size:70px;
    color:gray;
}

.chat-image {
    width:50px;
    height:50px;
    border-radius:50% 50%;
}

.chat-main-image {
    width: 70px;
    height: 70px;
    border-radius: 50% 50%;
    margin-left:20px;
}

.unread-count {
    display:inline-block;
    padding:2px; 
    background-color:gray;
    color:white;
    border-radius:50% 50%;
    width:25px;
    height:25px;
    float:right;
    margin-left:20px;
    text-align:center;
}

.dialog-container {
    overflow-y: scroll;
    height: 340px;
    border: 1px solid #EAEAEA;
    padding: 15px;
    border-radius:5px;
}

    .dialog-container .my-dialog {
        background-color: #EEE;
        padding: 10px;
        border-radius: 5px;
        float: right;
        max-width: 90%;
    }

        .dialog-container .my-dialog.inverse {
            float: left;
        }

.message-box {
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #EAEAEA;
}

.form-control {
    background-color: #fcfcfc;
}

.inbox-widget .inbox-item .inbox-item-number  {
    float:right;
    margin:10px;
}

.related-picture-container .col-pic-20  {
    padding:0 10px;
    width:20%;
    float:right;
}

    .related-picture-container .other-picture-item {
        border: 1px solid #E5E5E5;
        height: 100px;
        width: 100%;
        border-radius: 5px;
        text-align: center;
        font-size: 35px;
        cursor: pointer;
        position: relative;
    }

        .related-picture-container .other-picture-item i {
            display:inline-block;
            margin-top:28px;
        }

        .related-picture-container .other-picture-item img {
            width: 90px;
            height: 90px;
            border-radius: 5px;
        }

.qr-code {
    max-width: 50px;
    border-radius: 3px;
}

.table-middle td {
    vertical-align: middle !important;
}

.line-height-invoice {
    line-height: 30px;
}

.table-middle tfoot {
    font-weight: bold;
}

.table-middle tfoot .text-left{
    text-align: left !important;
}

.autocomplete-suggestions {
    border: 1px solid #999;
    background: #fff;
    cursor: default;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 5px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #f0f0f0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399ff;
}

.delete-other-picture {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: center;
    display: none;
    opacity: 0;
    cursor: pointer;
}

.related-picture-container .other-picture-item:hover .delete-other-picture {
    display: block; 
    opacity: 1;
}

.pretty {
    margin: 0 !important;
}

tr[row-selected='true'] td {
    background-color: #337ab7 !important;
    color: white;
    font-weight: bold;
}

tr[row-selected='true'] td a {
    color: white;
}

.color-item {
    display: inline-block;
    width: 80px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    text-align: center;
}

.picture-color-item {
    width: 100%;
    height: 38px;
    border: 1px solid #E3E3E3;
    border-radius: 4px;
}

.gal-detail .btn {
    height: 38px;
}

.chk-container {
    display: inline-block;
    position: relative;
    padding-right: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 25%;
}

    /* Hide the browser's default checkbox */
    .chk-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.chk-container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.chk-container input:checked ~ .checkmark {
    background-color: #2196F3;
    text-shadow: 0 0 1px black;
    border: 2px solid green;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.chk-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.chk-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.widget-detail-1 {
    float: left;
}

.widget-chart-1 {
    min-height: 97px;
}

.user-devider {
    width: 50px;
}

.change-language {
    padding: 22px;
}

.lang-icon img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgba(152, 166, 173, 0.15);
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% {
        -webkit-transform: scaleY(0.4)
    }

    20% {
        -webkit-transform: scaleY(1.0)
    }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }

    20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}

@media (max-width: 767px) {
    #wrapper.enlarged .content-page {
        margin-right: 0;
    }

    #wrapper.enlarged .topbar .topbar-left {
        display: none;
    }
}
.d-none{
    display:none !important;
}
.d-flex {
    display: flex !important;
}

.reviewContent {
    background-color: #fcfcfc;
    border: 1px solid #3333;
    border-radius: 5px;
    width: 78% !important;
    padding: 10px;
}

.review-picture-item {
    width: 18%;
    margin-right: auto;
    overflow: hidden;
    background-color: #fcfcfc;
    border: 1px solid #3333;
    border-radius: 5px;

}

.rowReview {
    margin-top: 20px;
    position: relative;
    padding: 15px;
    border: 1px solid #3333;
    border-radius: 5px;
    background: #e6eaed;
}

.other-review-item{
    width: 30px;
    height: 30px;
    display:flex;
    align-items: center;
    justify-content:center;
    border: 1px solid #3333;;
    cursor: pointer;
    border-radius: 5px;
    margin: 0;
    transition: 0.4s
}

    .other-review-item:hover{
        box-shadow: 0 0 10px -5px #333
    }

    .addItemParent {
        display: flex;
        align-items: center;
        justify-content: center
    }

.remove-review-item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid #3333;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    position: absolute;
    left: 0;
    top: 0;
    background:#fff;
    margin-top:-10px;
    margin-left: -10px;
}

.remove-review-item:hover {
    box-shadow: 0 0 10px -5px #333
}

.imgBox {
    position: relative;
    width: 20%;
    margin-right: auto;
    height: 100px
}

.imgBox img{
    width: 100%;
    height: 100%;
}

.imgBox label {
    position: absolute;
    z-index: 100;
    left: 0;
    background: #333333b0;
    color: #fff;
    cursor: pointer;
    bottom: 0;
    width: 100%;
}