<div class="side-bar right-bar">
    <a href="javascript:void(0);" class="right-bar-toggle">
        <i class="zmdi zmdi-close-circle-o"></i>
    </a>
    <h4 class="">@Resource.Lang.Messages</h4>
    <div class="notification-list nicescroll">
        <ul class="list-group list-no-border user-list">
            <li class="list-group-item" style="display: none;">
                <a href="#" class="user-list-item">
                    <div class="avatar">
                        <img src="~/Assets/images/users/avatar-2.jpg" alt="">
                    </div>
                    <div class="user-desc">
                        <span class="name">مسعود ترابی</span>
                        <span class="desc">@Resource.Lang.SampleExplanatoryTextAboutMessage </span>
                        <span class="time">1396/02/22</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
