@using DataLayer.ViewModels;
@model IEnumerable<DataLayer.Entities.Language>

@{
    ViewBag.Title = "نصب تنظیمات و اطلاعات وبسایت";
    Layout = "~/Areas/Start/Views/Shared/Layout.cshtml";
}

@using (Html.BeginForm())
{
    <div class="col-sm-6 no-padding">
        @foreach (var item in Model)
        {
            <div class="form-group">
                <label for="checkbox-@item.ID" class="control-label col-md-2 no-padding">@item.Name</label>
                <div class="col-md-10">
                    <input id="checkbox-@item.ID" type="checkbox" value="@item.ID" checked="@item.IsSelected" autocomplete="off" name="SelectedLanguages" />
                </div>
            </div>
        }
        <div>
            <div class="col-md-10 col-md-offset-2">
                <div class="row">
                    @Html.Partial("~/Views/Public/Message.cshtml", (ViewMessage)ViewBag.Message)
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ثبت" class="btn btn-success" />
            </div>
        </div>
    </div>
}



