<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="HEADER_KEY_VALUE" value="KETABLOVEKEYCODE" />
    <!--<add key="HEADER_KEY_VALUE" value="KIFKETABKEYCODE" />-->
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="merchantservicesSoap">
          <security mode="Transport" />
        </binding>
        <binding name="merchantservicesSoap1" />
        <binding name="PaymentGatewayImplementationServiceBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentGatewayImplementationServiceBinding1" />
        <binding name="Application">
          <security mode="Transport" />
        </binding>
        <binding name="Application1" />
        <binding name="PaymentGatewayImplServiceSoapBinding">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentGatewayImplServiceSoapBinding1" />
        <binding name="PaymentIFBindingSoap">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentIFBindingSoap1" />
        <binding name="PaymentIFBindingSoap2">
          <security mode="Transport" />
        </binding>
        <binding name="PaymentIFBindingSoap3" />
        <binding name="SaleServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="SaleServiceSoap1" />
        <binding name="ConfirmServiceSoap">
          <security mode="Transport" />
        </binding>
        <binding name="ConfirmServiceSoap1" />
        <binding name="SendWebServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://services.asanpardakht.net/paygate/merchantservices.asmx" binding="basicHttpBinding" bindingConfiguration="merchantservicesSoap" contract="Services.OnlinePayments.AsanPardakht.merchantservicesSoap" name="merchantservicesSoap" />
      <endpoint address="https://www.zarinpal.com/pg/services/WebGate/service" binding="basicHttpBinding" bindingConfiguration="PaymentGatewayImplementationServiceBinding" contract="Services.OnlinePayments.ZarinPal.PaymentGatewayImplementationServicePortType" name="PaymentGatewayImplementationServicePort" />
      <endpoint address="https://api.nextpay.org/gateway/verify" binding="basicHttpBinding" bindingConfiguration="Application" contract="Services.OnlinePayments.NextPay.Application" name="Application" />
      <endpoint address="https://bpm.shaparak.ir/pgwchannel/services/pgw" binding="basicHttpBinding" bindingConfiguration="PaymentGatewayImplServiceSoapBinding" contract="Services.OnlinePayments.BehPardakht.IPaymentGateway" name="PaymentGatewayImplPort" />
      <endpoint address="https://sep.shaparak.ir/payments/initpayment.asmx" binding="basicHttpBinding" bindingConfiguration="PaymentIFBindingSoap" contract="Services.OnlinePayments.Saman.InitPayment.PaymentIFBindingSoap" name="PaymentIFBindingSoap" />
      <endpoint address="https://sep.shaparak.ir/payments/referencepayment.asmx" binding="basicHttpBinding" bindingConfiguration="PaymentIFBindingSoap2" contract="Services.OnlinePayments.Saman.ReferecePayment.PaymentIFBindingSoap" name="PaymentIFBindingSoap1" />
      <endpoint address="https://pec.shaparak.ir/NewIPGServices/Sale/SaleService.asmx" binding="basicHttpBinding" bindingConfiguration="SaleServiceSoap" contract="Services.OnlinePayments.Parsian.SaleService.SaleServiceSoap" name="SaleServiceSoap" />
      <endpoint address="https://pec.shaparak.ir/NewIPGServices/Confirm/ConfirmService.asmx" binding="basicHttpBinding" bindingConfiguration="ConfirmServiceSoap" contract="Services.OnlinePayments.Parsian.ConfirmService.ConfirmServiceSoap" name="ConfirmServiceSoap" />
      <endpoint address="http://panel.rahyab.ir/RahyabSMSService.asmx" binding="basicHttpBinding" bindingConfiguration="SendWebServiceSoap" contract="Services.Sms.Rahavard.SendWebServiceSoap" name="SendWebServiceSoap" />
    </client>
  </system.serviceModel>
  <system.web>
    <compilation targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <!--<compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>-->
  </system.codedom>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: CF855748-A630-43F8-8B6F-09231A851F02-->