
@{
    ViewBag.Title = "Error404";
    Layout = "~/Views/"+DataLayer.Base.BaseWebsite.WebsiteLabel+"/Shared/_Layout.cshtml";
}

<div class="row">
    
    <div class="col-lg-12 col-sm-12">
        <div class="card">
            <img src="/areas/store/assets/images/404.svg">
        </div>
    </div>
</div>

