    <div  class="modal fade modal-OutOfSend bd-example-modal-lg" id="ModalPopUp" tabindex="-1" role="dialog" aria-labelledby="addaddress_modal_Title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">

                        <div class="modal-body p-4">
                            <button type="button" class="close closeMsg" data-dismiss="modal" aria-label="Close">
                                x
                            </button>
                            <div class="row">
                               <p class="alert alert-warning" >کاربر گرامی با توجه به استان انتخابی شما در لیست آدرس ها،آدرس شما خارج از محدوده ارسال فروشنده می باشد  </p>
                            </div>


                        </div>
            </div>
        </div>
    </div>
