<div class="col-lg-8" style="max-height: 400px;">
    <div class="card-box">
        <h4 class="header-title m-t-0 m-b-30">@Resource.Lang.VisitSiteLastWeek</h4>
        <div id="simple-line-chart" class="ct-chart ct-golden-section"></div>
    </div>
</div>
